body {
  font-family: Arial;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
  transition: 0.5s ease;
}

.app {
  text-align: center;
  width: 320px;
}

.search {
  display: flex;
  gap: 8px;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  padding: 15px;
  background: white;
  border-radius: 10px;
}